@import "tailwindcss";

:root {
  --primary: #162D3A;
  --secondary: #F6F6F6;
  --link: #1E4AE9;
  --white-primary: #FBFBFB;
  --white-secondary: #FAFAFA;
  --sidebar-border: #D9D9D9;
}
 
@theme inline {
  --color-sidebar-border: var(--sidebar-border);
  --color-white-secondary: var(--white-secondary);
  --color-white-primary: var(--white-primary);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-link: var(--link);
}
